<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { namespace } from 'vuex-class';
import _ from 'lodash'
const formData = namespace('FormData');
@Component({})
export default class EmailValidationMixin extends  Vue {
  public  showErrorMessage= false;

  @Watch('isValidEmail')
  checkIsValidForm(newValue: boolean) {

    if (newValue){
      this.showErrorMessage = false;
    }
  }

  get debouncedFunction() {
    return _.debounce(this.updateEmail, 2000)
  }

    @Watch('error')
  showError(newValue: string) {

    if (newValue){
      this.showErrorMessage = true;
    } else {
      this.resetError();
    }
  }

    private updateEmail(value: string) {
      const formData = new FormData();
      formData.append('form[email]', value);
      this.checkEmail(formData).then(() => {
        if (this.isValidEmail) {
          this.resetError();
        }
      });
    }


    @formData.Action
    private checkEmail!: (value: FormData) => Promise<unknown>;

    @formData.Action
    private getEmail!: () => void;

    @formData.Action
    public resetError!: () => void;

    @formData.State
    private error!: boolean | string;

    @formData.State
    private isValidEmail!: string;
}
</script>