<template>
    
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class';
import { FormDataType, FormFieldType } from "../../store/module/formDataModel";
import { MobileInputType } from "../../types/formTypes";
const formData = namespace('FormData');

type TextType = FormFieldType | Pick<FormFieldType, 'id' | 'full_name' | 'attr' | 'required'> & { name: string }

@Component
export default class FormMixin extends Vue {


    @formData.State
    private formData!: FormDataType;

    @formData.State
    private formResetPassword!: FormDataType;

    private getTextOptions(key :string) : TextType  {
      if(Object.keys(this.formData).length > 0){
        return {...this.formData[key], name: key};
      } else {
        return {
          id: '',
          full_name: '',
          attr: {
            placeholder: ''
          },
          name: key,
          required: true
        }
      }
    }

    public getTokenOption(data : FormDataType) : Pick<FormFieldType, 'id' | 'full_name' | 'value'> {
      if(Object.keys(data).length > 0){
        return {
          id: data._token.id,
          full_name: data._token.full_name,
          value: data._token.value
        }
      } else {
        return {
          id: '',
          full_name: '',
          value: ''
        }
      }
    }





    get checkboxOptions() : string {
      const fields = ["confidential", "services"];

      if(Object.keys(this.formData).length > 0){
        return JSON.stringify(fields.map(field => {
          return {
            id: this.formData[field].id,
            name: this.formData[field].full_name,
            label: this.formData[field].hasOwnProperty('label') ? this.formData[field].label : '',
            stateName: field
          }
        }))} else {
        return JSON.stringify({
          id: '',
          name: '',
          label: '',
          stateName: ''
        })
      }

    }

    get phoneOptions(): MobileInputType {
      if(Object.keys(this.formData).length > 0) {
        return {
          label: this.formData.phone.label,
          inputId: this.formData.phone.id,
          inputName: this.formData.phone.full_name,
          checkboxOptions: '',
          showCheckbox: false
        }
      } else {
        return {
          label: '',
          inputId: '',
          inputName: '',
          checkboxOptions: '',
          showCheckbox: false
        }
      }

    }



    get emailData() {
      return this.formResetPassword.hasOwnProperty('email') ? this.formResetPassword.email : {
        id: '',
        label: '',
        full_name: '',
        required: false,
        attr: {
          placeholder: ''
        },
        name: 'email'
      } ;
    }
}
</script>

<style scoped>

</style>