{% extends 'layout.html.twig' %}

{% block title %}Вход{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}


    {% if error %}
        {% if error.code == 0 %}
            <div id="modalWithState">
                <info-modal-message-with-state></info-modal-message-with-state>
            </div>
        {% else %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    {% endif %}

    {% if app.user %}
        <div class="alert alert-success">
            Добро пожаловать {{ last_username }}, <a href="{{ path('app_logout') }}">Выйти</a>
        </div>
    {% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <section class="login">

        <div class="login__wrapper">
            <div>
                <div class="login__preview"><h2>Регистрация для<span class="color-primary">Физических лиц</span>
                    </h2>
                    <p>Наш сервис поддерживает работу с физическими и юридическими лицами. Если вы физическое лицо, пройдите регистрацию, нажав на ссылку ниже. </p><a
                            class="login__button" href="{{ path('app_register_person') }}">Зарегистрироваться как физическое
                        лицо</a></div>
            </div>
            <div>
                <div class="login__preview no-border"><h2>Регистрация для<span class="color-primary">Юридических лиц</span>
                    </h2>
                    <p>Мы рады новым организациям, зарегистрированным на нашем сервисе. Для регистрации в качестве юридического лица подготовьте ИНН и юридический адрес организации.</p><a
                            class="login__button" href="{{ path('app_register_ul') }}">Зарегистрироваться как
                        юридическое лицо</a></div>
            </div>
        </div>


        {% include 'security/form.html.twig' %}
    </section>
{% endblock %}
