<h1>Algroo.com</h1>

<p>
    Для потверждения аккаунта перейдите по ссылке и авторизируйтесь на сайте.
    Подтвердите Ваш email по ссылке: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить</a>.
    По истечению {{ expiresAt|date('g') }} часов ссылка будет заблокирована.
</p>

<p>
    Ваша почта: {{ email.to[0].address }}
    Ваш пароль: {{ password }}
</p>
