<div class="menu-modal">
    <div class="menu-modal__header"><a class="preview__link d-sm-flex" href="tel:+77777777777"></a><a
                class="preview__logo-block" href="/"><img class="preview__logo"
                                                          src="{{ asset('img/logo.png') }}"></a>
        <button class="menu-modal__close"><i class="material-icons">close</i></button>
    </div>
    <div class="menu-modal__wrapper d-none"><input class="input input-search" type="text"
                                                   placeholder="{{  'Поиск по сайту...'|trans }}">
        <button class="menu-modal__search" aria-label="Открыть меню"><img src="{{ asset('img/search.png') }}" alt="Открыть меню">
        </button>
    </div>
    <div class="menu-modal__body">
        <ul class="menu-modal__list">
            <li><a href="#">{% trans %}Недвижимость {% endtrans %}</a></li>
            <li><a href="#">{% trans %}Транспорт{% endtrans %}</a></li>
            <li><a href="#">{% trans %}Работа{% endtrans %}</a></li>
            <li><a href="#">{% trans %}Услуги{% endtrans %}</a></li>
            <li><a href="#">Электроника</a></li>
            <li><a href="#">Семья и дети</a></li>
            <li><a href="#">Красота и здоровье</a></li>
            <li><a href="#">Одежда, обувь, аксессуары</a></li>
            <li><a href="#">Спорт, отдых, хобби</a></li>
            <li><a href="#">Строительство и ремонт</a></li>
            <li><a href="#">Дача, сад и огород</a></li>
            <li><a href="#">Товары для дома</a></li>
            <li><a href="#">Животные</a></li>
            <li><a href="#">Для бизнеса</a></li>
        </ul>
    </div>
</div>
<div class="footer__fixed-menu d-sm-block">
    <ul class="d-flex">
        <li>
            <button class="preview__button" id="mobile-menu">
                <img src="{{ asset('img/icons/humberger.png') }}">
            </button>
        </li>
        <li>
            <button class="preview__button" aria-label="Поиск" id="mobile-search">
                <img
                        src="{{ asset('img/icons/search.png') }}"></button>
        </li>
        <li>
            <a href="#" aria-label="Добавить">
                <img src="{{ asset('img/icons/ellipse.png') }}">
            </a>
        </li>
        <li>
            <a class="preview__button" href="#" aria-label="Избранное">
                <img src="{{ asset('img/icons/star.png') }}"></a>
        </li>
        <li>
            <a href="{{ path('dashboard') }}" aria-label="ЛК">
                <img src="{{ asset('img/icons/account.png') }}"></a>
        </li>
    </ul>
</div>