{% extends 'layout.html.twig' %}

{% block title %}Карточка товара{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <section class="filters">
        <form name="filter_form" method="get" class="filters__modal">
            <div class="filters__inner">
                <div>

                </div>
                <div>
                    {% if productTypes %}
                    <label class="filters__label" for="name2">Типы объявлений<i
                                class="material-icons">info</i></label>
                    <select class="select-css filters__select filters__items" name="filter_form_type"
                            id="filter_form_type">
                        <option value="">Не выбрано</option>
                        {% for type in productTypes %}
                            <option {% if selectedType == type.slug  %} selected {% endif %} value="{{ type.slug }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                </div>
            </div>


                {% for category in cats %}
                    <div class="filters__inner">
                        <label class="filters__label" for="name">Подкатегория<i class="material-icons">info</i></label>
                    <select
                            class="select-css filters__select filter__category" data-id="{{  loop.index }}" id="name">
                        <option value="">Не выбрано</option>
                        {% for myCat in category %}
                            <option {% if myCat.slug in slugs  %} selected  {% endif %} value="{{ myCat.slug }}">{{ myCat.name }}</option>
                        {% endfor %}
                    </select>
            </div>
                {% endfor %}

            <div class="filters__inner">



{#                {% if children|length > 0 %}#}
{#                    <label class="filters__label" for="name">Подкатегория<i class="material-icons">info</i></label>#}
{#                    <select#}
{#                            class="select-css filters__select" name="filter_form_category" id="name">#}
{#                        <option selected>Не выбрано</option>#}
{#                        {% for child in children %}#}

{#                            <option     {% if child.slug == category_slug  %} selected  {% endif %} value="{{ child.slug }}">{{ child.name }}</option>#}

{#                        {% endfor %}#}
{#                    </select>#}
{#                {% endif %}#}
            </div>
            <div class="filters__inner" style="grid-column-start: 1;grid-column-end: 4;flex-direction: row;">
                <div style="display: grid;flex-wrap: wrap;grid-template-columns: 1fr 1fr 1fr;grid-column-gap: 15px;">
                    {% if filters %}
                            {% for key, filter in filters %}
                                    <div>
                                        <label class="filters__label" for="name2">{{ key }}<i
                                                    class="material-icons">info</i></label>
                                        <select class="select-css filters__select filters__items"
                                                name="{{ filters[key]|keys[1] }}"
                                                id="name2">
                                            <option value="" selected >Не выбрано</option>
                                            {% for filterKey, val in filter %}
                                                {% for value in val %}
                                                <option
                                                        {% if filtersSelected %}
                                                            {% if filtersSelected|length > 0 %}
                                                        {% if value in filtersSelected  %}
                                                            selected
                                                        {% endif %}
                                                                {% endif %}
                                                        {% endif %}

                                                        value="{{ value }}">{{ value }}</option>
                                                {% endfor %}
                                            {% endfor %}

                                        </select>
                                    </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
{#            <button class="btn-primary filters__button">Найти</button>#}
            <button id="reset-button" name="reset" class="filters__button">Сбросить</button>
        </form>
    </section>
    {% include 'partials/categories.html.twig' with {'categories': categories, 'active': '' } %}
    <section class="catalog">
        <div class="catalog__sort">
            <div class="catalog__sort-wrapper"><span>Сортировать по:</span>
                <div class="catalog__sort-links">

                    <span {% if products.isSorted('p.createdAt') %} class="link-dashed" {% endif %}>
                        {{ knp_pagination_sortable(products, 'Дате', 'p.createdAt') }}
                     </span>
                    <span {% if products.isSorted('p.price') %} class="link-dashed" {% endif %}>
                         {{ knp_pagination_sortable(products, 'Цене', 'p.price') }}
                    </span>
            </div>
            <div class="catalog__sort-wrapper d-none">
                <button class="catalog__sort-button sort-variant-1"></button>
                <button class="catalog__sort-button sort-variant-2"></button>
            </div>
        </div>
        <div class="catalog__cards">

            <div class="catalog__usual">
                {%  for product in products %}
                    <article class="card">
                        <a href="{{ path('product', {id: product.id}) }}">
                            {% if product.getIsPremium() %}
                            <span class="card__premium">Премиум</span>
                            {% endif %}
                            <div class="card__image">
                                {% for image in product.photos|slice(0, 1) %}
                                    <img src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~ image) }}" alt="Мотоциклетный шлем">
                                {% endfor %}
                            </div>
                            <div class="card__wrapper"><p class="card__category">{{ product.category.name }}</p>
                                <p class="card__name">{{ product.name }}</p>
                                <div class="card__body">
                                    <div class="card__prices"><p class="card__price">{{ product.price }}<span class="card__price-add">Руб.</span>
                                        </p>
                                        <p class="card__price-add">$55</p>
                                        <p class="card__price-add">€50</p></div>
                                    <div class="card__user">

                                        {% if 'ROLE_INDIVIDUAL' in product.user.roles %}
                                            {{ product.user.user_individual.name }}
                                        {% endif %}
                                        <span></span>
                                        <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i><i
                                                    class="material-icons">star_rate</i></div>
                                    </div>
                                </div>
                                <div class="card__footer">
                                    <div class="card__info w-100"><i
                                                class="material-icons">place</i><span>{{ product.address }}</span></div>
                                    <div class="card__info"><i class="material-icons">query_builder</i><span>{{ product.createdAt|date("d.m.Y  H:m") }}</span>
                                    </div>
                                    <div class="card__info"><i class="material-icons"> visibility</i><span>{{ product.views }}</span>
                                    </div>
                                </div>
                            </div>
                        </a></article>
                {% endfor %}


            </div>
            <button class="catalog__help"><i class="material-icons">info</i><span>Как попасть в премиум ?</span>
            </button>
        </div>
        <div class="navigation" style="display: flex;justify-content: flex-end">
            {{ knp_pagination_render(products) }}
        </div>
    </section>
    <script>

        const filters__select = document.querySelectorAll('.filter__category');
        filters__select.forEach(item => {
           item.addEventListener('change', (evt) => {

               if (evt.target.value !== '') {
                   if (evt.target.value !== 'Не выбрано') {
                       let urls = location.pathname.split('/').slice(1);

                       const index = Number(evt.target.dataset.id) + 1;
                       urls.splice(index, 1, evt.target.value);

                       urls = urls.slice(0,index + 1);

                       if (location.pathname.search(evt.target.value) === -1 && urls.length > 2){
                           window.location = window.location.origin + '/' + urls.join('/');
                       } else if (urls.length < 3) {
                           window.location = window.location.href + '/' + evt.target.value;
                       }

                   } else {
                       let urls = location.pathname.split('/').slice(1);
                       urls.splice(urls.length - 1, 1);
                       console.log(urls);
                       window.location = window.location.origin + '/' + urls.join('/');
                     // window.location = window.location.origin;
                   }
               } else {
                   let urls = location.pathname.split('/').slice(1);
                   urls.splice(urls.length - 1, 1);
                   console.log(urls);
                   window.location = window.location.origin + '/' + urls.join('/');
               }
           })
        });

        function replaceUrlParam(url, paramName, paramValue)
        {
            if (paramValue == null) {
                paramValue = '';
            }
            var pattern = new RegExp('\\b('+paramName+'=).*?(&|#|$)');
            if (url.search(pattern)>=0) {
                return url.replace(pattern,'$1' + paramValue + '$2');
            }
            url = url.replace(/[?#]$/,'');
            return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
        }

        const filters = document.querySelectorAll('.filters__items');
        filters.forEach(filter => {
            filter.addEventListener('change', (evt) => {

                if (!window.location.search) {
                    if (window.location.search.search(evt.target.name)) {
                        window.location =  replaceUrlParam(window.location.href, evt.target.name, evt.target.value)
                    } else {
                        window.location = window.location.href + '?' + evt.target.name + '=' + evt.target.value;
                    }
                } else  {
                    if (window.location.search.search(evt.target.name)) {
                        window.location = replaceUrlParam(window.location.href, evt.target.name, evt.target.value)
                    } else {
                        window.location = window.location.href + '&' + evt.target.name + '=' + evt.target.value;
                    }
                }
            });
        })

        const resetButton = document.querySelector('#reset-button');
        resetButton.addEventListener('click', (evt) => {
            evt.preventDefault();
            let path = window.location.href;
           let new_url = path.substring(0, path.indexOf('?'));
            window.location = new_url;
        })
    </script>
{% endblock %}