{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет администратора - Главная{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Личный кабинет администратора</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar-admin.html.twig' %}
    <section><p class="user__title title-underline"><span>Добро пожаловать</span></p>
        <a style="display: block;margin-bottom: 30px;width: 30%;margin-top: 40px;text-align: center" class="btn-primary preview__add" href="{{ path('admin_message_all') }}">Написать всем </a>

        <table class="preview-table preview-table--message">
            <tbody>
            <thead>
            <tr class="preview-table__row">
                <td>От кого</td>
                <td>Текст сообщения</td>
                <td>Дата</td>
                <td>Перейти в переписку</td>
            </tr>
            </thead>
            <tbody>


            {% for chat in chats %}
                {% set lastMessage = chat.messages|last %}
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        <div class="preview-table__info"><span>От пользователя</span><span>

                                    {{ lastMessage.getAuthor().getUserIndividual().getName() }}

                            </span>
                        </div>
                    </td>
                    <td class="preview-table__column text"><span>{{ lastMessage.getContent() }}
                            {% if lastMessage.getReadAt() %}
                                (Прочитано)
                            {% else %}
                                (Не прочитано)
                            {% endif %}
                        </span>
                    </td>
                    <td class="preview-table__column"><span>{{ lastMessage.getCreatedAt()|date('d.m.Y H:i') }}</span></td>
                    {% if chat.product %}
                        <td><a class="btn-block btn-primary text-center" href="{{ path('dashboard_chat', {'id' : chat.slug, 'productId': chat.product.id }) }}">Перейти</a></td>
                    {% else %}
                        <td><a class="btn-block btn-primary text-center" href="{{ path('dashboard_admin_chat', {'id' : chat.slug }) }}">Перейти</a></td>

                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="link-gray" href="#">Загрузить еще</a></div>
    </section>
{% endblock %}