{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет администратора - Главная{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Личный кабинет администратора</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
    {% include 'dashboard/sidebar-admin.html.twig' %}
    <section><p class="user__title title-underline"><span>Добро пожаловать</span></p>
      {{ form_start(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}