<template>
    <div>
        <div>
            <messages></messages>
        </div>
    </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'
import {namespace} from "vuex-class";
import Messages from "./Messages.vue";

const chatModel = namespace('ChatModel');
    @Component({
      components: {Messages}
    })
export default class Chat extends Vue {

        @Prop(String) conversationId! : string;
        @Prop(String) toUserId! : string;
        @Prop(String) fromUserId! : string;
        @Prop(String) productId! : string;


        mounted() {
          this.setConversationId(this.conversationId);
          this.setProductId(Number(this.productId));
          this.setFromUser(Number(this.fromUserId));
          this.setToUser(Number(this.toUserId));
          this.loadMessages().then(() => {
            let div = document.querySelector(".chat");
            console.log(div);
            // @ts-ignore
            div.scrollTop = div.scrollHeight;

          })
        }

        @chatModel.Mutation
        private setConversationId!: (conversationId: string) => void;

        @chatModel.Mutation
        private setFromUser!: (user: number) => void;

        @chatModel.Mutation
        private setToUser!: (user: number) => void;

        @chatModel.Mutation
        private setProductId!: (productId: number) => void;



        @chatModel.Action
        private loadMessages!: () => Promise;

}
</script>

<style scoped>
    .column {
        flex-direction: column;
    }

    .btn-end {
        width: 300px;
        align-self: end;
    }
</style>