<template>
    <p :class="{'left-msg' : message.from_user !== Number(fromUser), 'right-msg': message.from_user === Number(fromUser) }">
        {{ message.text }}<br>
    <span class="msg-read" v-if="message.is_read">Прочитано {{ message.is_read }}</span>
    </p>
</template>

<script lang="ts">
import { Component, Vue , Watch, Prop} from 'vue-property-decorator'
import { namespace } from "vuex-class";
import {MessageType} from "../../store/module/chatModel";

const chatModel = namespace('ChatModel');
    @Component({
      components: {}
    })
export default class Message extends Vue{
    @Prop(Object) message!: MessageType

        @chatModel.State
        private fromUser!: number;
}
</script>

<style scoped>
    .left-msg {
    padding: 1.2rem 1.8rem;
    margin: 0.5rem auto 0.5rem 2rem;
    background-color: #f1f0f0;
    max-width: 50%;
    text-align: left;
    border-radius: 5rem;
    font-weight: lighter;
    line-height: 1.2;
    font-size: 1.1rem;
    display: table;
    position: relative;
    }

    .msg-read {
        font-size: 10px;
    }
    .right-msg {
        padding: 1.2rem 1.8rem;
        margin: 0.5rem 2rem 0.5rem auto;
        background-color: #0099ff;
        color: #fff;
        max-width: 50%;
        display: table;
        text-align: left;
        border-radius: 5rem;
        line-height: 1.2;
        font-size: 1.1rem;
    }
</style>