<template>
    <div>
        <div ref="chat" class="chat">
        <message v-for="messageItem in messages" :key="messageItem.id" :message="messageItem" ></message>
        </div>
        <div class="d-flex column">
            <label class="filters__label" for="message">Сообщение</label>
            <textarea v-model="message" rows="5" class="textarea" id="message" placeholder="Написать"></textarea>
            <button @click="sendMessageAndRefreshChatWindow(message)" class="btn-block btn-end btn-primary text-center mt-2">Отправить</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue , Watch, Prop} from 'vue-property-decorator'
import { namespace } from "vuex-class";
import Message from "./Message.vue";
import {MessageType} from "../../store/module/chatModel";
const chatModel = namespace('ChatModel');


@Component({
  components: {Message}
})

export default class Messages extends Vue{
    @Prop(String) userId!:string
    message = '';


    mounted(): void {
      this.setSocket();

    }

    sendMessageAndRefreshChatWindow(message: MessageType) {
      this.sendMessage(message).then(() => {
        let div = document.querySelector(".chat");
        console.log(div);
        // @ts-ignore
        div.scrollTop = div.scrollHeight + 50;
      })
    }

    @chatModel.Action
    private loadMessages!: () => void

    @chatModel.Action
    private setSocket!: () => void

    @chatModel.Action
    private sendMessage!: (message: MessageType) => Promise

    @chatModel.Action
    private messageReceived!: (message: MessageType) => void


    @chatModel.State
    private messages!: MessageType[];


}
</script>

<style scoped>

    .chat {
        height: 400px;
        overflow-y: auto;
    }
</style>