<template>
    <div v-if="showFilters && index > 0" class="grid-add">
        <button type="button" @click="(evt) => { evt.preventDefault(); showNewInput = !showNewInput; showIndex = index}" class="preview-table__link">Добавить свою категорию +</button>
        <div v-if="showNewInput">
            <input class="input" type="text" placeholder="Введите название">
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue , Prop} from 'vue-property-decorator'

@Component({})
export default class NewCategory extends Vue {

}
</script>

<style scoped>

</style>