<template>
    <div>
        <zingchart ref="chart" :data="chartData" :series="mySeries" height="280px"></zingchart>
    </div>
</template>

<script lang="ts">
import zingchartVue from "zingchart-vue";

import "zingchart/es6";
import { Component, Vue, Prop } from 'vue-property-decorator'
@Component({
  components: { zingchart: zingchartVue}
})
export default class Chart extends Vue {
    @Prop(String) views!: string;


    get weekViews(){
      return JSON.parse(this.views);
    }

    mounted(): void {
      console.log(this.views);
    }

    now = new Date();

    chartData = {
      type: "bar",
      // title: {text: 'График статистики',
      //     "font-color": "#2f2d2d",
      //     "font-size": '16px',
      //     "font-weight": '400',
      //     "font-family": "Open Sans"},
      backgroundColor:"#f5f9fc",
      height: '110%',
      "legend": {
        "layout": "x3",
        "overflow": "page",
        "alpha": 0.05,
        "shadow": false,
        "align": "right",
        "adjust-layout": true,
        "marker": {
          "type": "square",
          "border-color": "none",
          "size": "7px",
        },
        "border-width": 0,
        "item": {
          "font-color": "#000",
          "font-size": '14px',
          "font-family": "Open Sans"
        },

      },
      "plot": {
        aspect: "histogram",
        "bars-space-left": 0.15,
        "bars-space-right": 0.15,
      },
      "scaleY": {
        "line-color": '#000',
        "guide": {
          "visible": true
        },
        "item": {
          "font-color": "#000",
          "font-size": '14px',
          "font-family": "Open Sans"
        },
      },
      "scaleX": {
        "line-color": '#000',
        'min-value': (new Date(this.now.setDate(this.now.getDate() - this.now.getDay()+1))).getTime(), /* In Unix time */
        step: "day", /* In Unix time or with ZingChart shortcuts */
        transform: { /* Transform object. */
          type: "date", /* To convert your Unix timestamps to dates */
          all: "%d.%m.%Y" /* To format your time-series labels */
        },
        "item": {
          "font-color": "#000",
          "font-size": '14px',
          "font-family": "Open Sans"
        },
        "guide": {
          "visible": false
        },
        "placement": "default"
      },
    }
    mySeries = [
      {
        values: this.weekViews,
        text: 'Просмотры',
        backgroundColor: '#01d85f',
      },
      {
        values: [null, null, null,  null, null, null, null],
        text:'Клики',
        backgroundColor: '#01b7d8',
      }
    ]
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1,
    h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
