<template>
    <div v-if="!Array.isArray(optionsArray)" class="registration__checkbox">
        <input type="checkbox" :id="id" :name="name" required="required" value="1" class="check-input" checked>
        <label class="checkbox-label" :for="id">
            <span class="icon"></span>
            <svg viewBox="0,0,50,50">
                <path d="M5 30 L 20 45 L 45 5"></path>
            </svg>
            <span class="checkbox-text">{{ label }}</span>
        </label>
    </div>
    <div v-else>
        <div v-for="(option, index) in optionsArray" :key="index" >
            <input type="checkbox" :id="option.id" :name="option.name" @change="$emit('change', $event.target.checked, option.stateName)" required="required" value="1" class="check-input" checked>
            <label class="checkbox-label" :for="option.id">
                <span class="icon"></span>
                <svg viewBox="0,0,50,50">
                    <path d="M5 30 L 20 45 L 45 5"></path>
                </svg>
                <span class="checkbox-text">{{ option.label }}</span>
            </label>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
export type CheckboxOptions = string;
@Component({})
export default class Checkbox extends Vue {
    @Prop(String) readonly options!: CheckboxOptions;
    @Prop(Function) readonly change!: (value : string, name: string) => void

    get optionsArray() {
      return JSON.parse(this.options);
    }

    get id(): string {
      return JSON.parse(this.options).checkbox_id;
    }

    get name(): string {
      return JSON.parse(this.options).checkbox_name;
    }

    get label(): string {
      return JSON.parse(this.options).hasOwnProperty('label') ? JSON.parse(this.options).label : 'Отображать на сайте';
    }
}

</script>

<style scoped>

</style>