<template>
    <form ref="form" name="registration_individual_form" method="post" class="">
        <div class="registration__form-row">
            <input-component :email="true" @change="saveInputValue"  :options="getInputOptions('name')"></input-component>
        </div>
        <div class="registration__form-row">
            <input-component :email="true"   @change="debouncedFunction" :options="getInputOptions('email')"></input-component>
            <p v-if="showErrorMessage" class="color-red">
                {{ error }}</p>
            <reset-password-hidden-modal :email="true" v-if="showErrorMessage"></reset-password-hidden-modal>
        </div>
        <div class="registration__form-row">
            <mobile-input @check="saveInputValue" :required="true" :label="phoneOptions.label + '*'" :input-id="phoneOptions.inputId" :input-name="phoneOptions.inputName"
                          :checkbox-options="phoneOptions.checkboxOptions" :show-checkbox="phoneOptions.showCheckbox"></mobile-input>
        </div>
        <button :disabled="disableButton" :class="{'registration__submit btn-secondary': disableButton, 'registration__submit btn-big btn-primary': !disableButton}">Сохранить</button>
        <input type="hidden" :id="tokenOptions.id" :name="tokenOptions.full_name" :value="tokenOptions.value">
    </form>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'
import { namespace } from 'vuex-class';
import { FormFieldType } from "../store/module/formDataModel";
import MobileInput from "./MobileInput.vue";
import Checkbox from "./Checkbox.vue";
import FormMixin from "./mixins/FormMixin.vue";
import EmailValidationMixin from "./mixins/EmailValidationMixin.vue";
import Input from "./Input.vue";
import _ from 'lodash'
const formData = namespace('FormData');
import ResetPasswordHiddenModal from "./ResetPasswordHiddenModal.vue";

    @Component({
      components: {MobileInput, Checkbox, InputComponent: Input, ResetPasswordHiddenModal}
    })
export default class EditPersonForm extends Mixins(FormMixin,EmailValidationMixin) {
        @Prop(String) userData = '';
        private state : {name: boolean, email: boolean, emailValue: string, phone: boolean} = {
          name: false,
          email: false,
          emailValue: '',
          phone: false
        };



        private getInputOptions(key :string) : TextType  {
          return {
            id: '',
            full_name: '',
            attr: {
              placeholder: ''
            },
            name: key,
            required: true
          }
        }

        mounted (): void {
          if (this.userData) {
            this.userData = JSON.parse(this.userData);
          }
          this.fetchFormData()
        }

        get debouncedFunction() {
          return _.debounce(this.saveInputValue, 2000)
        }

        get disableButton(): boolean {
          return Object.values(this.state).indexOf(false) !== -1;
        }
        private saveInputValue(value : string, name: string) {

          if (name === 'email' && value.length > 0) {
            const formData = new FormData();
            formData.append('form[email]', value);
            this.state.emailValue = value;
            this.checkEmail(formData).then((response) => {
              if (this.isValidEmail) {
                this.state[name] = true;
                this.resetError();
              } else {
                this.state[name] = false;
              }
            });
          } else {
            this.state[name] = value.length > 0;
          }
        }

        private saveCheckboxValue(value : boolean, name: string) {
          this.state[name] = value;
        }

        get tokenOptions(): Pick<FormFieldType, 'id' | 'full_name' | 'value'>{
          return this.getTokenOption(this.formData);
        }


        @formData.Action
        public fetchFormData!: () => void;

        @formData.Action
        public resetError!: () => void;
}
</script>

<style scoped>

</style>