<template>
    <form ref="form" name="registration_individual_form" method="post" class="registration__form">
        <div class="registration__form-row">
            <input-component @change="saveInputValue"  :options="getTextOptions('name')"></input-component>
        </div>
        <div class="registration__form-row">
            <input-component  @change="debouncedFunction" :options="getTextOptions('email')"></input-component>
            <p v-if="showErrorMessage" class="color-red">
                {{ error }}</p>
            <reset-password-hidden-modal :email="true" v-if="showErrorMessage"></reset-password-hidden-modal>
        </div>
        <div class="registration__form-row">
            <mobile-input @check="saveInputValue" :required="true" :label="phoneOptions.label + '*'" :input-id="phoneOptions.inputId" :input-name="phoneOptions.inputName"
                          :checkbox-options="phoneOptions.checkboxOptions" :show-checkbox="phoneOptions.showCheckbox"></mobile-input>
        </div>
        <div class="registration__social"><p>Зарегистрироваться через соц.сети:</p>
            <ul class="login__social social">
                <li><a class="social__item social__item--facebook" href="" aria-label="Facebook"></a></li>
                <li><a class="social__item social__item--instagram" href="" aria-label="Instagram"></a></li>
                <li><a class="social__item social__item--twitter" href="" aria-label="Twitter"></a></li>
                <li><a class="social__item social__item--skype" href="" aria-label="Skype"></a></li>
            </ul>
        </div>
        <div class="registration__checkboxes">
            <div>
                <checkbox @change="saveCheckboxValue" :options="checkboxOptions"></checkbox>
            </div>
        </div>
        <button :disabled="disableButton" :class="{'registration__submit btn-secondary': disableButton, 'registration__submit btn-big btn-primary': !disableButton}">Зарегистрироваться</button>
        <input type="hidden" :id="tokenOptions.id" :name="tokenOptions.full_name" :value="tokenOptions.value">
    </form>


</template>

<script lang="ts">
import { Component, Vue, Watch, Mixins } from 'vue-property-decorator'
import { namespace } from 'vuex-class';
import { FormFieldType } from "../store/module/formDataModel";
import MobileInput from "./MobileInput.vue";
import Checkbox from "./Checkbox.vue";
import FormMixin from "./mixins/FormMixin.vue";
import EmailValidationMixin from "./mixins/EmailValidationMixin.vue";
import Input from "./Input.vue";
import _ from 'lodash'
const formData = namespace('FormData');
import ResetPasswordHiddenModal from "./ResetPasswordHiddenModal.vue";

type FormStateType = {
    name: boolean,
    email: boolean,
    phone: boolean,
    confidential: boolean,
    services: boolean,
    emailValue: string
}
@Component({
  components: {MobileInput, Checkbox, InputComponent: Input, ResetPasswordHiddenModal}
})
export default class Form extends Mixins(FormMixin,EmailValidationMixin) {

    private state : FormStateType = {
      name: false,
      email: false,
      emailValue: '',
      phone: false,
      confidential: true,
      services: true
    };


    mounted (): void {
      this.fetchFormData()
    }

    get debouncedFunction() {
      return _.debounce(this.saveInputValue, 2000)
    }

    get disableButton(): boolean {
      return Object.values(this.state).indexOf(false) !== -1;
    }
    private saveInputValue(value : string, name: string) {

      if (name === 'email' && value.length > 0) {
        const formData = new FormData();
        formData.append('form[email]', value);
        this.state.emailValue = value;
        this.checkEmail(formData).then((response) => {
          if (this.isValidEmail) {
            this.state[name] = true;
            this.resetError();
          } else {
            this.state[name] = false;
          }
        });
      } else {
        this.state[name] = value.length > 0;
      }
    }

    private saveCheckboxValue(value : boolean, name: string) {
      this.state[name] = value;
    }

    get tokenOptions(): Pick<FormFieldType, 'id' | 'full_name' | 'value'>{
      return this.getTokenOption(this.formData);
    }


    @formData.Action
    public fetchFormData!: () => void;

    @formData.Action
    public resetError!: () => void;

}
</script>

<style scoped>
.btn-big {
    font-size: 18px;
    padding: 15px;
}
</style>