<template>
    <div>
        <label style="margin-left: 8px;" class="filters__label">
            Фото
        </label>
        <p v-if="error" class="color-red" style="margin-bottom: 10px"> {{ error }}</p>
        <div :class="imageFormData.wrapperClass">
        <div class="photo__wrapper">
            <label :class="{'input-file-label active':  !firstPhoto, 'input-file-label' : firstPhoto }"  for="product_form_photo">
                <img v-if="firstPhoto" :src="`/${photosArray[0].value}`" width="68" height="68"/>
            </label>
            <button v-if="firstPhoto" @click="deletePhotoAction(1)"  type="button" class="image-close">
                <i  class="material-icons color-red">cancel</i>
            </button>
            <input @change="upload($event.target.files)" type="file" id="product_form_photo"  :required="imageFormData.required === 'true'" accept="image/*" class="input-file">
        </div>
        <image-component v-for="item in slicedPhotosArray"
                         :name="imageFormData.name"
                         :id="item.id"
                         :file="item.value"
                         :is-uploaded="item.uploaded"
                         :key="item.id + Math.random()">
        </image-component>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue , Watch, Prop} from 'vue-property-decorator'
import { namespace } from "vuex-class";
import ImageComponent from "./ImageComponent.vue";
import { PhotoArrayType } from "../store/module/ImageModel";

const imageModel = namespace('ImageModel');

type ImageFormType = {
    id: string,
    name: string,
    class: string
    multiple: string,
    wrapperClass: string;
    required: boolean;
}

@Component({
  components:{ImageComponent}
})
export default class ImageInput extends Vue {
    @Prop(String) imageFormPropsData!: string;
    @Prop(String) imageCount!: string;
    @Prop(String) images!: string;
    @Prop(String) productId!: string;

    get imageFormData(): ImageFormType {
      return JSON.parse(this.imageFormPropsData);
    }

    mounted(): void {
      if (this.images){
        this.setPhotosArrayAction({ photos: JSON.parse(this.images), productId: Number(this.productId)})
      } else {
        this.initializePhotosArray(Number(this.imageCount));
      }



    }

    get firstPhoto() {
      return this.photosArray.length > 0 ? this.photosArray[0].uploaded : false
    }

    get slicedPhotosArray() {
      return this.photosArray.slice(1)
    }

    @imageModel.Action
    deletePhotoAction!: (id: number) => void;

    private upload(files: FileList) {
      this.uploadPhoto({ id: 1, value: files[0]});
    }

    @imageModel.Action
    uploadPhoto!: ({id, value} : {id: number, value: File}) => void;

    @imageModel.State
    photosArray!: PhotoArrayType;


    @imageModel.State
    error!: string;


    @imageModel.Action
    initializePhotosArray! : (items: number) => void;

    @imageModel.Action
    setPhotosArrayAction! : ({photos: PhotoArrayType, productId: number}) => void;


}
</script>

<style scoped>


    .image-close {
        padding:0;
        position: absolute;
        z-index: 20;
        top: -10px;
        right: 0px;
        background-color: transparent;
    }

    input:invalid + label {
        box-shadow: 2px 2px 2px #ea2b28;
    }


</style>