<template>
    <div class="photo__wrapper">
        <label class="input-file-label" :for="`photo${id}`">
            <button v-if="isUploaded" @click="deletePhotoAction(id)"  type="button" class="image-close">
                <i class="material-icons color-red">cancel</i>
            </button>
            <transition name="fade">
                <img v-if="isUploaded" :src="`/${file}`">
                <i v-else class="material-icons photo-icon">add</i>
            </transition>
        </label>
        <input
               @change="upload($event.target.files)" class="input-file" :id="`photo${id}`"  type="file">
    </div>
</template>

<script lang="ts">
import { Component, Vue , Prop} from 'vue-property-decorator';
import { namespace } from "vuex-class";


const imageModel = namespace('ImageModel');

@Component({})
export default class ImageComponent extends Vue {
    @Prop(String) name!: string;
    @Prop(Boolean) isUploaded!: boolean;
    @Prop(Number) id!: number;
    @Prop(String) file!: string | File;

    @imageModel.Action
    uploadPhoto!: ({id, value} : {id: number, value: File}) => void;

    @imageModel.Action
    deletePhotoAction!: (id: number) => void;



    private upload(files: FileList) {
      this.uploadPhoto({ id: this.id, value: files[0]});
    }
}
</script>

<style scoped>
.color-green {
    color: #01d85f;
}

.input-file-label{
    position: relative;
}

.photo-icon {
    font-size: 13px;
}

.image-close {
    padding:0;
    position: absolute;
    z-index: 20;
    top: -10px;
    right: -10px;
    background-color: transparent;
}
</style>