<template>
    <transition name="fade">
        <div v-if="show" class="modalbg">
            <div class="dialog">
                <slot>
                    <info-message @toggle="showModal" :show-class="false" :message="message" :type="type"></info-message>
                </slot>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import { Component, Vue, Watch,Prop, Mixins } from 'vue-property-decorator'
import InfoMessage from "./InfoMessage.vue";

@Component({
  components: {InfoMessage}
})
export default class InfoModalMessage extends Vue {
    @Prop(String) readonly message!: string;
    @Prop(String) readonly type!: string;
    show = true;

    private showModal(toggle:boolean) {
      this.show = toggle;
    }
}
</script>

<style scoped>

</style>