<template>
    <div>
        <label class="filters__label required" for="category_name">
            <slot>Название категории</slot>
        </label>
        <div v-if="filters"  v-for="(n,index) in filters" :key="index">
            <div class="d-flex flex-wrap justify-content-between" style="margin-top: 10px">
                <input  v-if="n.show" :value="n.value" @change="editNew($event.target.value, index)" type="text" id="category_name" :name="name" class="input">
                <button v-if="n.show" type="button" @click="deleteInput(index)" class="preview-table__link">
                    <i class="material-icons color-red">close</i>
                </button>
            </div>
        </div>
        <div v-if="!filters"  v-for="(n,index) in state" :key="index">
            <div class="d-flex flex-wrap justify-content-between" style="margin-top: 10px">
                <input  v-if="n.show"  type="text" id="category_name" :name="name" :required="n === 1" class="input">
                <button v-if="n.show && index > 0" type="button" @click="deleteInput(index)" class="preview-table__link">
                    <i class="material-icons color-red">close</i>
                </button>
            </div>
        </div>
        <button type="button" @click="showNew" class="preview-table__link">Добавить еще +</button>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

type InputComponentStateType = Array<{ show: boolean}>
@Component({})
export default class InputComponent extends Vue {

    @Prop(String) name!: string;
    @Prop({default: false}) values!:string;

    state : InputComponentStateType =
        [
          {show: true}
        ];

    mounted(): void {
      if (this.values) {
        this.state = JSON.parse(this.values);
      }
    }

    get filters() {
      return this.values ? this.state : false;
    }

    editNew(value: string, index:number) {
      //@ts-ignore
      this.state.splice(index, 1, {...this.state[index], value})
    }

    deleteInput(index: number): void {
      console.log(this.state, index);
      if (this.values){
        this.state.splice(index, 1, {...this.state[index],show: false})
      } else {
        this.state.splice(index, 1, {show: false})
      }
    }

    showNew(): void {
      if (this.values){
        //@ts-ignore
        this.state.push({show: true, value: ''})
      } else {
        this.state.push({show: true})
      }
    }
}
</script>

<style scoped>

</style>