<template>
    <div>
        <CoolLightBox
                :items="items"
                :index="index"
                @close="index = null">
        </CoolLightBox>

        <div class="product__images">

            <img :src="bigImage"  @click="index = 0" />
            <div>
                <img
                        class="image"
                        v-for="(image, imageIndex) in smallImages"
                        :key="imageIndex + 1"
                        @click="index = imageIndex + 1"
                        :src="image"
                />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Mixins, Watch} from 'vue-property-decorator'
import CoolLightBox from 'vue-cool-lightbox';
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'

@Component({
  components: {CoolLightBox}
})
export default class LightBoxComponent extends Vue {
    @Prop(String) photos!: string;
    index: null | number = null;


    get items(): Array<string> {
      const photos = JSON.parse(this.photos);
      return photos.slice(0, photos.length );
    }

    get smallImages() {
      const photos = JSON.parse(this.photos);
      return photos.slice(1, photos.length );
    }

    get bigImage() {
      const photos = JSON.parse(this.photos);
      return photos.slice(0, 1 );
    }
}
</script>

<style scoped>

    .product__images img {
        cursor: pointer;
    }

</style>