<template>
    <div class="registration__phone">
        <input type="hidden" :id="inputId" :value="phoneNumber" :name="inputName" :required="required">
        <label :class="showCheckbox ? 'input-label justify-content-between' : 'input-label'" for="number1"> {{ label }}
            <checkbox v-if="!!showCheckbox" :options="checkboxOptions"></checkbox>
        </label>

        <div class="login__phone-block">
            <input :value="countryCode" readonly  class="input input-small input-radius"  id="number1" placeholder="+7" />
            <input-mask v-model="companyCode" mask="999" id="number2" min="900" max="999"  placeholder="900" class="input input-small"></input-mask>
            <input-mask  v-model="phoneCode" class="input" mask="999-99-99"  id="number3" placeholder="000 00 00" ></input-mask>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import Checkbox from './Checkbox.vue';
import InputMask from 'vue-input-mask';

@Component({
  components: {
    checkbox: Checkbox,
    InputMask
  }
})

export default class MobileInput extends Vue {
        @Prop(String) readonly label!: string;
        @Prop(String) readonly inputId!: string;
        @Prop(String) readonly inputName!: string;
        @Prop({ default: false}) readonly required!: boolean;
        @Prop(String) readonly checkboxOptions!: string;
        @Prop(Function) readonly check!: (value: string, name: string) => void;
        @Prop({ default: false}) readonly showCheckbox!: boolean;

        private countryCode = '+7';
        private companyCode = '';
        private phoneCode = '';

        @Watch('phoneNumber')
        editPhoneNumber(newVal: string) {
          if (newVal) {
            if ( this.companyCode !== '' && this.phoneCode !== '' ) {
              this.$emit('check', newVal, 'phone');
            } else {
              this.$emit('check', '', 'phone');
            }
          }
        }

        get phoneNumber() {
          return this.countryCode + this.companyCode + this.phoneCode
        }

}
</script>


<style scoped lang="scss">


</style>
