<template>

    <div class="modalbg" @click="toggleModalOutsideClick">
        <form v-if="!showForm"  ref="form" @submit.prevent="submitBid" :name="formName"  class="dialog">
            <button type="button" title="Close" class="close" @click="toggleModal">
                <i class="material-icons">close</i>
            </button>

            <slot name="message"><h2 class="modal__title">Восстановление пароля</h2></slot>
            <input-component :email="email" :options="{...emailData, value: email}"></input-component>
            <input type="hidden" :id="tokenOptions.id" :name="tokenOptions.full_name" :value="tokenOptions.value">
            <button class="login__submit justify-center btn-primary" type="submit">Восстановить</button>
        </form>
        <info-message v-else :message="error||successMessage" :type="messageType"></info-message>
    </div>

</template>

<script lang="ts">
import { Component, Watch, Mixins, Prop } from 'vue-property-decorator'
import Input from "./Input.vue";
import FormMixin from "./mixins/FormMixin.vue";
import InfoMessage from "./InfoMessage.vue";
import { FormFieldType } from "../store/module/formDataModel";
const formData = namespace('FormData');
import { namespace } from 'vuex-class';
    @Component({
      components: {
        inputComponent: Input,
        InfoMessage
      }
    })
export default class Modal extends Mixins(FormMixin){
    @Prop(Function) readonly toggle!: () => void;
    @Prop(Boolean) email!: boolean;
    private showModal = true;
    private showForm = false;
    private toggleModal() {
      this.$emit('toggle');
    }

    private toggleModalOutsideClick(evt: Event) {
      if (!this.$refs.form.contains(evt.target)) {
        this.$emit('toggle');
      }
    }

    @Watch('error')
    showError(newValue: string) {
      if (newValue){
        this.showForm = true;

        setTimeout(() => {
          this.showForm = false;
          this.resetError();
        }, 1000);
      }
    }

    get messageType(): number {
      if (this.error) {
        return 0;
      } else {
        return 1;
      }
    }

    @Watch('successMessage')
    showSuccessMessage(newValue: string) {
      if (newValue){
        this.showForm = true;

        setTimeout(() => {
          this.showForm = false;
          this.showModal = false;
        }, 2000);
      }
    }

    private  submitBid() {

      const formData = new FormData(this.$refs.form);
      this.resetError();
      this.sendEmail(formData);

    }


    @formData.Action
    public sendEmail!: (data: FormData) => void;

    @formData.Action
    public resetError!: () => void;

    mounted (): void {
      this.fetchResetPasswordData()

    }

    @formData.State
    private error!: boolean | string;

    get formName(): string {
      return this.formResetPassword.hasOwnProperty('form_id') ? this.formResetPassword.form_id : '';
    }


    get tokenOptions(): Pick<FormFieldType, 'id' | 'full_name' | 'value'>{
      return this.getTokenOption(this.formResetPassword);
    }

    @formData.State
    private successMessage!: string;



    @formData.Action
    public fetchResetPasswordData!: () => void
}
</script>

<style scoped>



</style>