<template>
    <div class="link-reset-password">
        <button type="button" @click="toggleModal" class="button">Восстановить пароль</button>
        <transition name="fade">
            <modal :email="email" @toggle="toggleModal" v-if="showModal"></modal>
        </transition>
    </div>
</template>

<script lang="ts">
import Modal from './Modal.vue';
import { Component, Watch, Mixins, Vue, Prop } from 'vue-property-decorator'
@Component({
  components: {Modal}
})
export default class ResetPasswordHiddenModal extends Vue {
    @Prop(Boolean) email!: boolean;
    private showModal = false;
    public toggleModal() : void {
      this.showModal = !this.showModal;
    }
}
</script>

<style scoped>

</style>