<template>
    <div  >
        <input type="hidden" :name="selectCategoryFormName" :value="selectedCategories.length ?
      selectedCategories.slice().sort(function(a, b) {
  return b.lvl - a.lvl;
}).find((category) => category.id !== 0 ).id : 0">
        <div class="grid">
            <div class="d-flex flex-column justify-end" v-for="(choice, index) in choices" :key="index">

                <label v-if="index < 1" class="filters__label" for="product_form_category">
                    <slot>Выберите категорию</slot>
                    <i class="material-icons">info</i>
                </label>
                <div v-if="showFilters && index === choices.length - 1 && index > 0 " class="grid-add">
                    <button type="button" @click="(evt) => { evt.preventDefault(); showNewInput = !showNewInput; showIndex = index}" class="preview-table__link">Добавить свою категорию +</button>
                    <div v-if="showNewInput">
                        <input name="new_category_name" class="input" type="text" placeholder="Введите название">
                        <input type="hidden" name="new_category_parent" :value="selectedCategories[index - 1].id">
                    </div>
                </div>
                <select-c :show-index="showIndex" :options="choice"  :index="index" @change="changeHandler">

                </select-c>


            </div>
        </div>
        <div  v-if="filterValue.length > 0 && showFilters">
            <h2 class="filters__label">Выберите фильтры  <i class="material-icons">info</i></h2>
            <div class="grid">
                <div :class="{'grid-2-col' : model.length > 0 && filter.id === 2}" v-for="filter in filterValues" v-if="filter.values" :key="filter.id + randomNumber() " >
                    <select-component :type="filter.type"  :options="filter.values" :index="filter.id"   :name="selectFilterFormName(filter.id, filter.type)"  @change="onChange">
                        <template v-slot:label>
                            {{ filter.name }}
                        </template>
                    </select-component>
                    <div v-if="model.length > 0 && filter.id === 2">
                        <select-component  :options="model" :index="3" :type="filter.type"  name="model"  @change="addModel">
                            <template v-slot:label>
                                Модель
                            </template>
                        </select-component>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue , Prop, Watch} from 'vue-property-decorator'
import { ChoicesType, GetCategoryDataType, FiltersType, FormDataType, SelectedFiltersType } from "../store/module/categoryModel";
import SelectComponent from "./SelectComponent.vue";
import SelectC from "./SelectC.vue";
import { namespace } from "vuex-class";
const categoryModel = namespace('CategoryModel');
    @Component({
      components: {SelectComponent, SelectC}
    })
export default class SelectCategoryComponent extends Vue {
        // @Prop(Array) options!: Array<{id: number, name: string}>;
        @Prop(String) name!: string;
        @Prop(Boolean) showFilters!: boolean;

        private showNewInput = false;
        private showIndex: null | number = null;
        private selectedOption = 0;
        @categoryModel.Action
        private  setCategoryPostData!: (data: GetCategoryDataType) => void;

        private randomNumber(): number {
          //@ts-ignore
          return Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
        }

        addModel(data: {value: number, index: number}) {
          console.log(data);
          this.setFilter({id: Number(data.index), value: Number(data.value), type: 0});
        }


        get model() {
          console.log(this.models);
          return this.models;
        }

        get filterValues() {
          return this.filters[0];
        }

        setSelectCategory(index: number) {
          //@ts-ignore
          return this.selectedCategories.find(item =>  this.choices[index].find(ch => ch.id === item.id) ) ? this.selectedCategories.find(item =>  this.choices[index].find(ch => ch.id === item.id) ).id : 0;
        }

        set selected(index) {

          this.selectedOption = this.setSelectCategory(index);
        }

        get selected() {
          return this.selectedOption;
        }

        get filterValue() {
          return this.filters.length > 0 ? this.filters[0]: 0;
        }

        get selectCategoryFormName() {
          if (this.categoryFormData.hasOwnProperty('form_name')) {
            return this.categoryFormData.form_name + '[category]';
          } else {
            return this.name + '[category]'
          }
        }

        public selectFilterFormName(id: number, type: number) {
          if (this.categoryFormData.hasOwnProperty('form_name')) {
            return this.categoryFormData.form_name + '[filter][' + id  + ']' + '[' + type + ']';
          } else {
            return this.name + '[filter][' + id  + ']'  + '[' + type + ']';
          }
        }

        onChange(data: {value: number, index: number, type: number}) {
          //@ts-ignore

          // const array = this.filterValues.filter(filter => filter.values).find(filter => {
          //   return filter.values.includes(data.index)
          // });
          // console.log(data);
          // const index = array.values.indexOf(data.index);

          if (data.index === 2) {
            this.getFilters({value: data.value, id: data.index})
            this.updateSelectedFilter(3);
          } else {
            this.setFilter({id: Number(data.index), value: Number(data.value), type: data.type});
          }

        }

        private setSelectedCategory(id: number, value: number | {id: number, name: string}){
          return this.selectedCategories.find(item => item.id === Number(value.id)) !== undefined;
        }

        @categoryModel.Action
        public  getFilters!: (data: {value: number}) => void;

        @categoryModel.Action
        public  updateSelectedFilter!: (id: number) => void;

        @categoryModel.Action
        public  setFilter!: (filter: {id: number, value: number, type: number}) => void;

        @categoryModel.State
        private selectedCategories!: Array<GetCategoryDataType>;

        @categoryModel.State
        private models!: Array<{id: number, name: string}>;

        @categoryModel.State
        private categoryFormData!: FormDataType;

        @categoryModel.State
        private selectedFilters!: SelectedFiltersType;

        @categoryModel.Getter
        private filters!: FiltersType;

        @categoryModel.Getter
        private choices!: ChoicesType;

        @categoryModel.State
        private lvl!: number;

        private changeHandler({value, index}:{value: string, index : number}) {
          const selectItem = document.querySelector('#category_productTypes');
          if (selectItem) {
            if (index > 0) {
              selectItem.setAttribute('disabled', 'disabled');
            } else {
              selectItem.removeAttribute('disabled');
            }
          }
          this.setCategoryPostData({data: {id: Number(value), lvl: index}});
        }
}
</script>

<style scoped>
.grid-2-col {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
</style>