<template>
    <VueSlickCarousel class="category__list" v-bind="settings">
        <div v-for="(item,index) in sliderItems" :key="index">
            <a :class="itemClass" :href="item.slug">
                <img :src="item.image">
                <p>{{ item.name }}</p>
            </a>
        </div>
    </VueSlickCarousel>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

type SliderItemType = {
    name: string,
    image: string,
    slug: string
}


@Component({
  components: {VueSlickCarousel}
})

export default class Slider extends Vue {
    @Prop(String) readonly slidesPerRow!: string;
    @Prop(String) readonly items!: string;
    @Prop(String) readonly itemClass!: string;

    private settings = {
      "dots": false,
      "edgeFriction": 0.35,
      "infinite": true,
      "speed": 500,
      "arrows": true,
      "slidesToShow": 10,
      "slidesToScroll": 1,
      responsive: [
        {
          "breakpoint": 1400,
          "settings": {
            "slidesToShow": 10,
            "slidesToScroll": 1,
            "infinite": true,
          }
        },
        {
          "breakpoint": 1200,
          "settings": {
            "slidesToShow": 8,
            "slidesToScroll": 1,
          }
        },
        {
          "breakpoint": 1000,
          "settings": {
            "slidesToShow": 6,
            "slidesToScroll": 1,
          }
        },
        {
          "breakpoint": 800,
          "settings": {
            "slidesToShow": 4,
            "slidesToScroll": 1,
          }
        },
        {
          "breakpoint": 576,
          settings: "unslick"
        }
      ]
    }

    get sliderItems() : SliderItemType[] {
      return JSON.parse(this.items);
    }
}
</script>

<style scoped>
.category__list a {
    display: block;
    width: 100%;
    height: 100%;
    color:black;
}
</style>