<template>
        <button type="submit" :disabled="!isValidEmail" :class="{'btn-primary': isValidEmail, 'btn-disabled' : !isValidEmail }" >Отправить</button>
</template>

<script lang="ts">
import { Component, Vue , Prop, Watch} from 'vue-property-decorator'
import InfoModalMessage from './InfoModalMessage.vue';
import { namespace } from 'vuex-class';
const formData = namespace('FormData');

@Component({
  components: {InfoModalMessage}
})
export default class SubmitButton extends Vue {

    @formData.State
    private isValidEmail!: string;

}
</script>

<style scoped>

</style>