{% extends 'layout.html.twig' %}

{% block title %}Карточка товара{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    {% include 'partials/categories.html.twig' with {'categories' : categories, 'active': product.category.name} %}
    <div class="product__wrapper">
        <ul class="breadcrumbs">
            <li>
                <a href="#">Главная</a>
                <span class="delimeter"></span>
            </li>
            {%  for node in product_category_path %}
            <li>
                <a href="#">{{ node.name }}</a>
                <span class="delimeter"></span>
            </li>
            {% endfor %}

            <li class="active">
                <a href="#">{{ product.name }}</a><span class="delimeter"></span>
            </li>

        </ul>
        <section class="product" id="lightbox">
            <light-box-component photos="{{ product.photosUrl(image_directory)|json_encode }}"></light-box-component>

            <div class="product__info">
                <div class="product__header">
                    <div><p class="product__title">{{ product.name }}</p>
                        <span class="product__text color-purple">№ {{ product.id }}</span></div>
                    <div class="product__functions">
                        <button class="product__function" aria-label="Печатать">
                            <a href='javascript:window.print(); void 0;'> <i
                                        class="material-icons">print</i></a></button>
                        <button class="product__function" aria-label="Скрыть объявление"><i
                                    class="material-icons">visibility_off</i></button>
                        <button class="product__function" aria-label="Поделиться объявлением"><i
                                    class="material-icons">send</i></button>
                        <button class="product__function" aria-label="Добавить объявление в избранное"><i
                                    class="material-icons">star_border</i></button>
                    </div>
                </div>
                <p class="product__text">
                    {{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description  }}
                </p>
                <div class="product__inner">
                    <div class="product__block">
                        <div>
                            <div class="product__prices"><p class="product__text product__price"><span
                                            class="color-primary price">{{ product.price }}</span><span>Руб.</span></p><span
                                        class="product__text product__price product__price--small">$55</span><span
                                        class="product__text product__price product__price--small">€50</span></div>
                            <p class="product__average">Средняя цена по системе<span
                                        class="color-primary">3000</span><i class="material-icons color-red">keyboard_arrow_up</i>
                            </p></div>
                        <div class="product__contacts">
                            <div><p><i class="material-icons color-primary">place</i><span>{{ product.address }}</span></p>
                                <a class="link-dashed" href="#">Показать на карте</a></div>
                            <div>
                                <p class="big">
                                    <i class="material-icons color-primary">local_phone</i>
                                    <span class="phone hidden">{{ product.user.phone }}</span>
                                </p>
                                <button class="link-dashed phone-button" onclick="togglePhone({{ product.id }})" >Смотреть номер</button>
                            </div>
                        </div>
                    </div>
                    <div class="product__block">
                        <div class="product__user">
                            <img src="{{ asset('img/userpic.png') }}">
                            <div class="product__user-block"><p>{{ user_info.name }}<span class="product__user-type">{{ product.user.businessRole }}</span>
                                </p>
                                <div class="card__rating"><i class="material-icons">star_rate</i><i
                                            class="material-icons">star_rate</i><i
                                            class="material-icons">star_rate</i><i
                                            class="material-icons">star_rate</i><i
                                            class="material-icons">star_rate</i></div>
                                <a class="link-dashed" href="#">Отзывы о продавце</a></div>
                        </div>
                        <div><p class="product__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqu</p><a
                                    class="product__link" href="#">Подробнее</a></div>

                        {% if app.user.id is defined and  product.user.id != app.user.id %}
                        <a class="btn-primary product__button" href="{{ path('dashboard_chat', {'id': slug, 'productId': product.id }) }}">Написать продавцу<i class="material-icons">send</i>
                        </a>
                        {% else %}
                        {% if app.user.id is defined %}
                            <a class="btn-primary product__button" href="{{ path('dashboard_messages') }}">Посмотреть сообщения<i class="material-icons">send</i>
                            </a>
                            {% else %}
                                <a class="btn-primary product__button" href="{{ path('dashboard_chat', {'id': slug, 'productId': product.id }) }}">Написать продавцу<i class="material-icons">send</i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="product__social">
                        <div><span>Поделиться:</span>
                            <ul>
                                <li><a class="share-vk" href="#" aria-label="Поделиться VK"></a></li>
                                <li><a class="share-fb" href="#" aria-label="Поделиться Facebook"></a></li>
                                <li><a class="share-odn" href="#" aria-label="Поделиться Одноклассники"></a>
                                </li>
                                <li><a class="share-inst" href="#" aria-label="Поделиться Instagram"></a></li>
                            </ul>
                        </div>
                        <div><p><i
                                        class="material-icons color-primary">query_builder</i><span>{{  product.createdAt|date('d.m.Y H:i') }}</span>
                            </p>
                            <p><i class="material-icons color-primary"> visibility</i><span>{{ product.views }}</span></p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="features__wrapper">
                <button class="features__tab active title-underline">Описание</button>
                <button class="features__tab">Характеристики</button>
            </div>
            <div class="features__body tab active" data-id="1">

                <div class="features__paragraph">
                    <p class="features__text">
                        {{ product.description }}
                      </p>
                    <p class="features__text">derit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto beatae vitae</p>
                </div>
                <div class="features__paragraph"><p class="features__text">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehen</p>
                    <p class="features__text">derit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto beatae vitae</p>
                </div>
            </div>
            <div class="features__body tab" data-id="2">
                                {% for feature in product.productFilters.values %}
                                    {% if feature.filter.values|length > 0 %}
                                         {{ feature.filter.name }} : {{ feature.filter.values[feature.value] }} <br>
                                    {% endif %}
                                {% endfor %}
            </div>
        </section>
        <section class="product-hints"><p class="product-hints__title title-underline">Похожие товары</p>
            <div class="catalog__usual">
                <article class="card"><a href="{{ path('product', { id: product.id }) }}">
                        <div class="card__image"><img src="{{ asset('img/cards/card1.png') }}" alt="Мотоциклетный шлем">
                        </div>
                        <div class="card__wrapper"><p class="card__category">Транспорт</p>
                            <p class="card__name">Мотоциклетный шлем</p>
                            <div class="card__body">
                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>
                                    </p>
                                    <p class="card__price-add">$55</p>
                                    <p class="card__price-add">€50</p></div>
                                <div class="card__user"><span>Игорь И.</span>
                                    <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i></div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__info w-100"><i
                                            class="material-icons">place</i><span>РФ, Москва</span></div>
                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>
                                </div>
                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>
                                </div>
                            </div>
                        </div>
                    </a></article>
                <article class="card"><a href="{{ path('product', { id: product.id }) }}">
                        <div class="card__image"><img src="{{ asset('img/cards/card2.png') }}" alt="Мотоциклетные перчатки">
                        </div>
                        <div class="card__wrapper"><p class="card__category">Транспорт</p>
                            <p class="card__name">Мотоциклетные перчатки</p>
                            <div class="card__body">
                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>
                                    </p>
                                    <p class="card__price-add">$55</p>
                                    <p class="card__price-add">€50</p></div>
                                <div class="card__user"><span>Игорь И.</span>
                                    <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i></div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__info w-100"><i
                                            class="material-icons">place</i><span>РФ, Москва</span></div>
                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>
                                </div>
                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>
                                </div>
                            </div>
                        </div>
                    </a></article>
                <article class="card"><a href="{{ path('product', { id: product.id }) }}">
                        <div class="card__image"><img src="{{ asset('img/cards/card3.png') }}" alt="Считыватель кодов ...">
                        </div>
                        <div class="card__wrapper"><p class="card__category">Транспорт</p>
                            <p class="card__name">Считыватель кодов ...</p>
                            <div class="card__body">
                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>
                                    </p>
                                    <p class="card__price-add">$55</p>
                                    <p class="card__price-add">€50</p></div>
                                <div class="card__user"><span>Игорь И.</span>
                                    <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i></div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__info w-100"><i
                                            class="material-icons">place</i><span>РФ, Москва</span></div>
                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>
                                </div>
                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>
                                </div>
                            </div>
                        </div>
                    </a></article>
                <article class="card"><a href="{{ path('product', { id: product.id }) }}">
                        <div class="card__image"><img src="{{ asset('img/cards/card4.png') }}" alt="Сигнализация Code...">
                        </div>
                        <div class="card__wrapper"><p class="card__category">Транспорт</p>
                            <p class="card__name">Сигнализация Code...</p>
                            <div class="card__body">
                                <div class="card__prices"><p class="card__price">3500<span class="card__price-add">Руб.</span>
                                    </p>
                                    <p class="card__price-add">$55</p>
                                    <p class="card__price-add">€50</p></div>
                                <div class="card__user"><span>Игорь И.</span>
                                    <div class="card__rating"><i class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i><i
                                                class="material-icons">star_rate</i></div>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div class="card__info w-100"><i
                                            class="material-icons">place</i><span>РФ, Москва</span></div>
                                <div class="card__info"><i class="material-icons">query_builder</i><span>30.06.2020 15:33</span>
                                </div>
                                <div class="card__info"><i class="material-icons"> visibility</i><span>464</span>
                                </div>
                            </div>
                        </div>
                    </a></article>
            </div>
        </section>
        <script>
            const tabButtons = document.querySelectorAll('.features__tab');
            const tabs = Array.from(document.querySelectorAll('.tab'));
            tabButtons.forEach((tab, index) => {
                tab.addEventListener('click', (evt) => {
                    if ( !evt.target.classList.contains('active')) {
                        tabButtons.forEach(tab => {
                            tab.classList.remove('active');
                            tab.classList.remove('title-underline')
                        });

                        tabs.forEach(tab => {
                            tab.classList.remove('active');
                        });
                        evt.target.classList.add('active');
                        evt.target.classList.add('title-underline');
                        tabs[index].classList.add('active');

                    } else {
                       tabButtons.forEach(tab => {
                           tab.classList.remove('active');
                           tab.classList.remove('title-underline')
                       })
                        tabs.forEach(tab => {
                            tab.classList.remove('active');
                        });

                    }
                })
            })

            function togglePhone(productId) {

                const phoneButton = document.querySelector('.phone-button')
                document.querySelector('.phone').classList.toggle('hidden');
                if (!document.querySelector('.phone').classList.contains('hidden')) {
                    phoneButton.textContent = 'Скрыть номер'
                } else {
                    phoneButton.textContent = 'Смотреть номер'
                }

                let formData = new FormData();
                formData.append('id',  productId);

                fetch('/click/add', {
                    method: 'POST',
                    headers: {
                     'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: formData
                })

            }


            </script>
{% endblock %}
