{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}

    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Личный кабинет</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'dashboard/sidebar-admin.html.twig' %}
    {% else %}
    {% include 'dashboard/sidebar.html.twig' %}
    {% endif %}
    <section class="make-form"><h1 class="make-form__title">Мои сообщения</h1>
        <div class="block__wrapper" id="chatComponent">
            {% if product is defined %}
            <div class="d-flex">
                {% for productImage in product.photos|slice(0, 1) %}
                    <img src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~  productImage) }}"  width="80" height="80">
                {% endfor %}
                <div class="preview-table__info">
                    <span>{{ product.category.name }}</span>
                    <a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a>
                    {% if product.user.userIndividual.name is defined  %}
                    <span>{{ product.user.userIndividual.name }}</span>
                    {% endif %}
                    <span>Василий {{ product.price }} ₽</span>
                </div>
            </div>

           <chat to-user-id="{{ to_user }}" from-user-id="{{ from_user }}" product-id="{{ product.id }}" conversation-id="{{ channelId }}"></chat>
            {% else %}
                <chat to-user-id="{{ to_user }}" from-user-id="{{ from_user }}" product-id="{{ productId }}" system="{{ system }}" conversation-id="{{ channelId }}"></chat>
            {% endif %}
        </div>
    </section>
    <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script src="{{ asset('bundles/goswebsocket/js/websocket.min.js') }}"></script>

    <script type="text/javascript">
        let userId = {{ app.user.id }};

        {#var websocket = WS.connect("ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}");#}

        {#websocket.on("socket/connect", function (session) {#}
        {#    session.subscribe(`app/chat/${userId}`, function (uri, payload) {#}
        {#        console.log("Received message", payload.msg);#}
        {#    });#}

        {#    session.call("sample/sum", {"term1": 2, "term2": 5}).then(#}
        {#        function (result) {#}
        {#            console.log("RPC Valid!", result);#}
        {#        },#}
        {#        function (error, desc) {#}
        {#            console.log("RPC Error", error, desc);#}
        {#        }#}
        {#    );#}

        {#    session.publish(`app/chat/${userId}`, {msg: "This is a message!"});#}

        {#    session.publish(`app/chat/${userId}`, {msg: "I'm leaving, I will not see the next message"});#}

        {#    session.unsubscribe(`app/chat/${userId}`);#}

        {#    session.publish(`app/chat/${userId}`, {msg: "I won't see this"});#}

        {#    session.subscribe(`app/chat/${userId}`, function (uri, payload) {#}
        {#        console.log("Received message", payload.msg);#}
        {#    });#}
        {#    session.publish(`app/chat/${userId}`, {msg: "I'm back!"});#}
        {#});#}

        {#websocket.on("socket/disconnect", function (error) {#}
        {#    //error provides us with some insight into the disconnection: error.reason and error.code#}

        {#    console.log("Disconnected for " + error.reason + " with code " + error.code);#}
        {#});#}
    </script>
{% endblock %}