{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Добавить объяыление</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
    <section class="make-form">
        <h1 class="make-form__title">Создать объявление</h1>

        {% if app.flashes('success') %}


                <div class="alert alert-success">
                    Ваше объявление передано на модерацию

                </div>

        {% else %}
        <div class="row">
            {{ form_errors(form) }}
        </div>
        {{ form_start(form, {'attr': {'class': 'make-form__inner'}}) }}

        {% do form.category.setRendered() %}
        {% do form.filter.setRendered() %}
        {% do form.type.setRendered() %}
            <div id="categoriesComponent">
                <categories></categories>

            </div>
            <div>
                <div class="make-form__wrapper" id="imageInputComponent">
                    <div class="make-form__header">
                        <div class="w-100" >
                         {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>


                        <image-input image-count="4" image-form-props-data="{{ { 'wrapperClass'  : 'make-form__photos-block', 'name' : 'product_form[photo][]', 'required' : 'true'}|json_encode }}"></image-input>
{#                        <div class="make-form__photos">#}

{#                            <label class="filters__label" for="name">Фото</label>#}
{#                            {{ form_errors(form.photo) }}#}
{#                            <div class="make-form__photos-block">#}
{#                                <label class="input-file-label active"#}
{#                                                                        for="{{ form.photo.vars.id }}"></label>#}
{#                                {{ form_widget(form.photo) }}#}
{#                                <input#}
{#                                        class="input-file" type="file" id="photo1">#}
{#                                <label#}
{#                                        class="input-file-label" for="{{ form.photo.vars.id }}">+</label><input class="input-file"#}
{#                                                                                             type="file"#}
{#                                                                                             id="photo2">#}
{#                        <label>#}
{#                                        class="input-file-label" for="{{ form.photo.vars.id }}">+</label><input class="input-file"#}
{#                                                                                             type="file"#}
{#                                                                                             id="photo3"><label#}
{#                                        class="input-file-label" for="{{ form.photo.vars.id }}">+</label><input class="input-file"#}
{#                                                                                             type="file"#}
{#                                                                                             id="photo4"><label#}
{#                                        class="input-file-label" for="{{ form.photo.vars.id }}">+</label><input class="input-file"#}
{#                                                                                             type="file"#}
{#                                                                                             id="photo5">#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div style="width:100%">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    </div>
                    <div class="make-form__footer" id="inputWithSeparator">
                        {% do form.price.setRendered() %}
                        <input-with-separator name="{{ form.price.vars.full_name }}" placeholder="{{ form.price.vars.attr.placeholder }}"></input-with-separator>
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>
                </div>
                <div class="make-form__bottom"><p><span class="color-red">*</span>Обязательные поля</p>
                    <button class="btn-primary">Отправить на модерацию</button>
                </div>
            {{ form_end(form) }}
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}