{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}
{% block js_head %}
    <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script src="{{ asset('bundles/goswebsocket/js/websocket.min.js') }}"></script>
{% endblock %}
{% block content %}
    {% include 'partials/preview.html.twig' %}

<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Личный кабинет</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
    <section class="make-form"><h1 class="make-form__title">Мои объявления</h1>
        <div class="block__wrapper">
            {% if not chats %}
                <p>У Вас пока нет новых диалогов</p>
            {% endif %}
            <table class="preview-table preview-table--message">
                <tbody>
                <thead>
                <tr class="preview-table__row">
                    <td>От кого</td>
                    <td>Текст сообщения</td>
                    <td>Дата</td>
                    <td>Перейти в переписку</td>
                </tr>
                </thead>
                <tbody>


                {% for chat in chats %}
                    {% set lastMessage = chat.messages|last %}
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        <div class="preview-table__info"><span>От пользователя</span><span>{{ lastMessage.getAuthor().getUserIndividual().getName() }}</span>
                        </div>
                    </td>
                    <td class="preview-table__column text"><span>{{ lastMessage.getContent() }}
                            {% if lastMessage.getReadAt() %}
                         (Прочитано)
                            {% else %}
                                (Не прочитано)
                                {% endif %}
                        </span>
                    </td>
                    <td class="preview-table__column"><span>{{ lastMessage.getCreatedAt()|date('d.m.Y H:i') }}</span></td>
                    {% if chat.product %}
                    <td><a class="btn-block btn-primary text-center" href="{{ path('dashboard_chat', {'id' : chat.slug, 'productId': chat.product.id }) }}">Перейти</a></td>
                    {% else %}
                        <td><a class="btn-block btn-primary text-center" href="{{ path('dashboard_admin_chat', {'id' : chat.slug }) }}">Перейти</a></td>

                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                </table>
            <a class="link-gray" href="#">Загрузить еще</a></div>
    </section>


    <script type="text/javascript">
        let userId = {{ app.user.id }};

        {#var websocket = WS.connect("ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}");#}

        {#websocket.on("socket/connect", function (session) {#}
        {#    session.subscribe(`app/chat/${userId}`, function (uri, payload) {#}
        {#        console.log("Received message", payload.msg);#}
        {#    });#}

        {#    session.call("sample/sum", {"term1": 2, "term2": 5}).then(#}
        {#        function (result) {#}
        {#            console.log("RPC Valid!", result);#}
        {#        },#}
        {#        function (error, desc) {#}
        {#            console.log("RPC Error", error, desc);#}
        {#        }#}
        {#    );#}

        {#    session.publish(`app/chat/${userId}`, {msg: "This is a message!"});#}

        {#    session.publish(`app/chat/${userId}`, {msg: "I'm leaving, I will not see the next message"});#}

        {#    session.unsubscribe(`app/chat/${userId}`);#}

        {#    session.publish(`app/chat/${userId}`, {msg: "I won't see this"});#}

        {#    session.subscribe(`app/chat/${userId}`, function (uri, payload) {#}
        {#        console.log("Received message", payload.msg);#}
        {#    });#}
        {#    session.publish(`app/chat/${userId}`, {msg: "I'm back!"});#}
        {#});#}

        {#websocket.on("socket/disconnect", function (error) {#}
        {#    //error provides us with some insight into the disconnection: error.reason and error.code#}

        {#    console.log("Disconnected for " + error.reason + " with code " + error.code);#}
        {#});#}
    </script>
{% endblock %}