{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}

<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Личный кабинет</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
    <section class="make-form"><h1 class="make-form__title">Платный пакет</h1>
        <div class="block__wrapper">
            <div class="banner">
                <div class="banner__wrapper"><p class="banner__title">Платный пакет размещения<span
                                class="banner__title--blue"> от $10</span></p>
                    <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud .</p></div>
            </div>
            <table class="preview-table preview-table--payment">
                <tbody>
                {% for product in products %}
                <tr class="preview-table__row">
                    <td class="d-flex align-items-center">
                        {% for productImage in product.photos|slice(0, 1) %}
                            <img src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~  productImage) }}"  width="80" height="80">
                        {% endfor %}
                        <div class="preview-table__info"><span>{{ product.category.name }}</span>
                            <a href="{{ path('product', {'id' : product.id}) }}">{{ product.name }}</a></div>
                    </td>
                    <td class="preview-table__column"><span>56 $</span></td>
                    <td><a class="btn-block btn-primary" href="{{ path('product_premium', {'id' : product.id}) }}">Применить платный пакет</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="link-gray" href="#">Загрузить еще</a></div>
    </section>
{% endblock %}