{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a><span class="delimeter"></span></li>
        <li class="active"><a href="#">Добавить объяыление</a><span class="delimeter"></span></li>
    </ul>
    <div class="user__section">
        {% include 'dashboard/sidebar.html.twig' %}
        <section class="make-form">
            <h1 class="make-form__title">Мои объявления</h1>
            <div class="block__wrapper">
                <table class="preview-table">
                    <thead>
                    <tr class="product-table__row">
                        <td>Название объявления</td>
                        <td>Дата создания</td>
                        <td>Обновлено (дн.)</td>
                        <td>Статус</td>
                        <td>Редактировать</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}

                    <tr class="product-table__row">
                        <td class="d-flex flex-wrap align-items-center">
                            {% for productImage in product.photos|slice(0, 1) %}
                                <img src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~  productImage) }}"  width="80" height="80">
                            {% endfor %}
                            <div class="preview-table__info">
                                <span>{{ product.category.name }}</span>
                                <a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a></div>
                        </td>
                        <td class="preview-table__column"><span
                                    class="preview-table__label">Дата создания</span><span>{{ product.createdAt|date("d.m.Y  H:m") }}</span>
                        </td>
                        <td class="preview-table__column"><span
                                    class="preview-table__label">Обновлено (дн.)</span><span>{{ product.updatedAt|date("d.m.Y  H:m") }}</span>
                        </td>
                        <td>
                            {{ product.status.name }}
                        </td>
                        <td>
                            <a class="preview-table__link" href="{{ path('product_edit', {'id' : product.id}) }}">Редактировать</a>
                            <a class="preview-table__link" href="{{ path('product_delete', {'id' : product.id}) }}">/ Удалить</a>
                    </tr>

                    {% endfor %}
                    </tbody>
                    </table>
                <div class="preview-table__footer"><a class="preview-table__link" href="{{ path('dashboard_add') }}">+ Добавить
                        объявления</a>
                    <p class="link-gray">Вам доступно {{ products|length }} объявлений для бесплатного размещения</p></div>
            </div>
        </section>
    </div>
{% endblock %}
