<aside class="user__navigation"><p class="user__title title-underline"><span>Личный кабинет</span></p>
    <ul class="list list-images">
        <li class="list__item"><a href="{{ path('dashboard_products') }}">Мои объявления<i class="material-icons">create</i></a>
            <ul class="sublist">
                <li class="sublist__item"><a href="{{ path('dashboard_statistics') }}">- Статистика объявлений</a></li>
            </ul>
        </li>
        <li class="list__item"><a href="{{ path('dashboard_add') }}">Создать новое объявление</a></li>
        <li class="list__item"><a href="{{ path('dashboard_messages') }}">Сообщения</a>
            <ul class="sublist">
                <li class="sublist__item"><a href="{{ path('dashboard_messages') }}">- От пользователей</a></li>
                <li class="sublist__item sublist__item--active"><a href="{{ path('dashboard_system_messages') }}">- От системы<span>(3)</span></a>
                </li>
            </ul>
        </li>
        <li class="list__item"><a href="{{ path('dashboard_payment') }}">Применить пакет платных услуг</a></li>
        <li class="list__item"><a href="{{ path('dashboard_subscribe') }}">Подписка</a>
            <ul class="sublist">
                <li class="sublist__item"><a href="{{ path('dashboard_subscribe') }}">- Создать подписку</a></li>
                <li class="sublist__item"><a href="#">- Мои подписки</a></li>
            </ul>
        </li>
        <li class="list__item"><a href="/shop.html">Создать карточку магазина<span>(Для Юр. лиц.)</span></a>
        </li>
        <li class="list__item"><a href="{{ path('dashboard_user') }}">Мои данные<i class="material-icons">create</i></a></li>
    </ul>
</aside>