{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}
<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Личный кабинет</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
    <section class="make-form"><h1 class="make-form__title">Статистика объявления</h1>
        <div class="block__wrapper" id="chartComponent">
            <div class="preview-table">
                <div class="preview-table__head">
                    <div>Название объявления</div>
                    <div>Просмотров</div>
                    <div>Кликов по кнопке номер телефона</div>
                </div>
                {% for product in products %}
                    <div class="preview-table__row">
                        <div  class="d-flex align-items-center">
                            {% for productImage in product.photos|slice(0, 1) %}
                                <img src="{{ asset(image_directory ~ product.user.id ~ '/' ~ product.id ~ '/' ~  productImage) }}"  width="80" height="80">
                            {% endfor %}
                            <div class="preview-table__info"><span>{{ product.category.name }}</span><a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a></div>
                        </div>
                        <div class="preview-table__column">
                                    <span
                                            class="preview-table__label">Просмотров</span><span>{{ product.views }}</span>
                        </div>
                        <div class="preview-table__column">
                            <span class="preview-table__label">Кликов по кнопке номер телефона</span><span>23</span>
                        </div>
                        <div class="preview-table__column--last">
                            ><a class="preview-table__link" href="#">Детально
                                по дням</a>
                        </div>
                    </div>


                        {% if statistics[product.id]  is defined  %}

                        <div class="preview-table__chart">
                            <h4>График статистики</h4>
                            <chart views="{{ statistics[product.id]|json_encode }}"></chart>
                        </div>

                        {% endif %}

                {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}