{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    {% include 'partials/preview.html.twig' %}

<ul class="breadcrumbs">
    <li><a href="#">Главная</a><span class="delimeter"></span></li>
    <li class="active"><a href="#">Подписка</a><span class="delimeter"></span></li>
</ul>
<div class="user__section">
    {% include 'dashboard/sidebar.html.twig' %}
    <section class="make-form"><h1 class="make-form__title">Создать подписку</h1>
        <div class="block__wrapper">
            <div class="make-form__row"><label class="filters__label" for="name">Выберите категорию для
                    подписки на обновления<i class="material-icons">info</i></label><select
                        class="select-css filters__select" id="name">
                    <option>Параметр1</option>
                    <option>Параметр2</option>
                    <option>Параметр3</option>
                </select></div>
            <div class="make-form__row"><label class="filters__label" for="name2">Выберите фильтры для
                    подписки на обновления</label><select class="select-css filters__select" id="name2">
                    <option>Параметр1</option>
                    <option>Параметр2</option>
                    <option>Параметр3</option>
                </select></div>
            <button class="make-form__button btn-primary">Создать подписку</button>
        </div>
    </section>
{% endblock %}