{% include 'email/header.html.twig' %}
<!--[if mso | IE]>
</td>
</tr>
</table>
<![endif]-->
<!-- Image Header -->
<!--[if mso | IE]>
<table
        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
>
    <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
<![endif]-->
<div style="background:#dde9f2;background-color:#dde9f2;margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dde9f2;background-color:#dde9f2;width:100%;">
        <tbody>
        <tr>
            <td style="border-bottom:2px solid #c2cfd8;direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                        <td
                                class="" style="vertical-align:top;width:600px;"
                        >
                <![endif]-->
                <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                        <tr>
                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:24px;text-align:left;color:#2f2d2d;">
                                    {% block body %}
                                    {% endblock %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:24px;text-align:left;color:#000000;"><span class="bold" style="font-weight: bold; display: block;">Олег Иванов</span>
                                    <span class="color-green" style="color: #78d462;">Менеджер</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if mso | IE]>
                </td>

                </tr>

                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% include 'email/footer.html.twig' %}